:root {
  /* Font Size */

  --font-large:48px;
  --font-midium:30px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro:14px;

  /* Border size */

}

/* Select font family */

/* font-family: 'Dongle', sans-serif;
font-family: 'Nanum Pen Script';
font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Bebas Neue', cursive; */




body{
  background-color: #5BB318;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script';
  /* 웹 브라우저의 페이지 100% 를 최소 높이로 설정 */
  min-height: 100vh;
  margin: 10px;

}

@media (min-width:650px) {
  .App{
    width: 640px;
  }

}

@media (max-width:650px){
  .App{
    width: 90vw;
  }
} 

Body {
  font-family: 'Mouse Memoirs', sans-serif;
  /* background-color: #009000; */
  
}

ul {
  list-style: none;
}
.Myheader {
  
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  font-size: var(--font-large);
  margin-bottom: 20px;
}

/* .ProfileDeatail{
  border: 3px solid #009000;

} */

.ProfileDetailInformation{
  display: flex;
  margin: 10px;
  font-size: var(--font-midium);

}

.ProfileDetailInformation .ProfileImage {
  width: 30%;
}

.ProfileDetailInformation .ProfileInformation{
  width: 40%;
  justify-content: center;
  text-align: center;
  
}
.ProfileDetailInformation .Introduce{
  width: 30%;
  justify-content: center;
  text-align: center;
  
}

.ProfileDetailInformation .Introduce_title{
  border: 3px solid whitesmoke;
  border-radius: 50px;
  padding:10px;
}

.ProfileDetailInformation .Introduce_content{
  margin-top: 30px;
}


.ProfileDetailInformation .ProfileInformation li{
  margin-bottom: 10px;

}

.ProfileDetail button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2B7A0B;
  color:whitesmoke;
  border: none;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;

  
}


.HistoryRecordContent {
  border:3px solid whitesmoke;
  width: 30%;
  font-size: 20px;
}

.HistoryRecordContent li {
  padding: 3px;
  align-items: center;
  list-style: none;
}


.matchListContainer{
  font-family: 'Bebas Neue', cursive;
  background-color: #2B7A0B;
  border: 3px solid whitesmoke;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  display:flex;
  min-width: 100vh;
  min-height: 10vh;


}


.matchListContainer .matchTitle {
  font-family: 'Dongle', sans-serif;
  background-color: snow;
  width: 50%;
  border: 3px solid snow;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: var(--font-large);
  margin-right: 10px;
  font-weight: bold;
  overflow-wrap: break-word;

}

.matchListContainer .matchTime {
  width: 30%;
  font-size:var(--font-midium);
}

.matchPlayerLevel{
  width: 20%;
  text-align: center;
  font-size: var(--font-midium);
  padding: 20px;
  justify-content: space-between;

}


.matchPlayerLevel button{
  background-color: #100F0F;
  margin-top: 10px;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  font-size: var(--font-regular);
  cursor: pointer;
  padding: 5px;

}


.GridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.TeamListContainer {
  font-family: 'Dongle', sans-serif;
  font-size: var(--font-midium);
  display: flex;
  flex-direction: column;
  border: 3px solid whitesmoke;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right:10px;
  padding:10px;
  border-radius: 40px;
}


.TeamTitle{
  font-size: var(--font-large);
  border-bottom: 3px solid snow;
  padding:5px;
  margin-bottom: 5px;
}


.Home {
}

.TopPart {
  display: flex;
  border-bottom: 3px solid snow;
}

.WeatherArea {
  border: 3px solid snow;
  width: 400px;
  height: 400px;
}

.ProfileArea {
  border: 3px solid snow;
}


