:root {
  /* Font Size */

  --font-large:48px;
  --font-midium:30px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro:14px;



  --primary: #3acbf7;


}

/* Select font family */

/* font-family: 'Dongle', sans-serif;
font-family: 'Nanum Pen Script';
font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Bebas Neue', cursive; */

ul {
  list-style: none;
}



body{
  background-color: #5BB318;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: 'Nanum Pen Script';
  /* 웹 브라우저의 페이지 100% 를 최소 높이로 설정 */
  min-height: 100vh;
  width:100vw;
  margin: 10px;

}

@media (min-width:650px) {
  .App{
    width: 640px;
  }

}

@media (max-width:650px){
  .App{
    width: 90vw;
  }
} 


.MainTitle{
  display: flex;
  justify-content : center;
  font-size: var(--font-large);
  font-family: 'Bebas Neue', cursive;

}



.Myheader {
  
  text-align: center;
  border-bottom: 3px solid whitesmoke;
  font-size: var(--font-large);
  margin-bottom: 20px;
}

/* .ProfileDeatail{
  border: 3px solid #009000;

} */

.ProfileDetailInformation{
  display: flex;
  margin: 10px;
  font-size: var(--font-midium);

}

.ProfileDetailInformation .ProfileImage {
  width: 30%;
}

.ProfileDetailInformation .ProfileInformation{
  width: 40%;
  justify-content: center;
  text-align: center;
  
}
.ProfileDetailInformation .Introduce{
  width: 30%;
  justify-content: center;
  text-align: center;
  
}

.ProfileDetailInformation .Introduce_title{
  border: 3px solid whitesmoke;
  border-radius: 50px;
  padding:10px;
}

.ProfileDetailInformation .Introduce_content{
  margin-top: 30px;
}


.ProfileDetailInformation .ProfileInformation li{
  margin-bottom: 10px;

}

.ProfileDetail button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2B7A0B;
  color:whitesmoke;
  border: none;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;

  
}


.HistoryRecordContent {
  border:3px solid whitesmoke;
  width: 30%;
  font-size: 20px;
}

.HistoryRecordContent li {
  padding: 3px;
  align-items: center;
  list-style: none;
}


.matchListContainer{
  font-family: 'Bebas Neue', cursive;
  background-color: #2B7A0B;
  border: 3px solid whitesmoke;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  display:flex;
  min-width: 100vh;
  min-height: 10vh;


}


.matchListContainer .matchTitle {
 font-family: 'Dongle', sans-serif;

  background-color: whitesmoke;;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: var(--font-large);
  margin-right: 10px;
  font-weight: bold;
  overflow-wrap: break-word;

}

.matchListContainer .matchTime {
  width: 30%;
  font-size:var(--font-midium);
}

.matchPlayerLevel{
  width: 20%;
  text-align: center;
  font-size: var(--font-midium);
  padding: 20px;
  justify-content: space-between;

}


.matchPlayerLevel button{
  background-color: #100F0F;
  margin-top: 10px;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  font-size: var(--font-regular);
  cursor: pointer;
  padding: 5px;

}


.GridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.TeamListContainer {
  font-family: 'Dongle', sans-serif;
  font-size: var(--font-midium);
  display: flex;
  flex-direction: column;
  border: 3px solid whitesmoke;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right:10px;
  padding:10px;
  border-radius: 40px;
}


.TeamTitle{
  font-size: var(--font-large);
  border-bottom: 3px solid whitesmoke;
  padding:5px;
  margin-bottom: 5px;
}


.Home {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  /* justify-content: center; */
}

.TopPart {
  display: flex;
  /* border-bottom: 3px solid snow; */
  justify-content: space-between;
  padding:10px;
}

.WeatherBox {
  border: 3px solid whitesmoke;
  margin-right: 10px;
  margin: 10px;
  border-radius: 10px;

  /* width: 30vw;
  height: 50vh */
}

.ProfileArea {
  border: 3px solid whitesmoke;
  margin: 10px;
  border-radius: 10px;
  
  /* width: 10vw;
  height: 30vh */
}

.Time {
  border: 3px solid whitesmoke;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;

}




.MatchArea, .TeamArea {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  background: transparent;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: normal;
  font-size: var(--font-midium);
  letter-spacing: 0.3em;
  color: black;
  font-size: var(--font-midium);

  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  font-family: 'Bebas Neue', cursive;
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  cursor: pointer;
  /* border: none; */
  /* border: 1px solid rgba(223,190,106,0.3); */
}

.MatchArea:hover, .TeamArea:hover {
  color: #fff;
  /* border: 1px solid rgba(223,190,106,0); */
}


.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover{
  transition: all .3s ease-out;
  background: #fff;
  color: black;
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline{
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all .3s ease-out;
}

.btn--medium{
  font-size: 18px;
  color: #fff;
}

.btn--large{
  padding: 12px 26px;
  font-size: 20px;
  color: #fff;
}


.Navbar{
  font-family: 'Bebas Neue', cursive;
  background: #004700;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

.navbar-logo{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react{
  margin-left: .5rem;
  font-size: 1.6rem;   
}

.nav-menu{
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-links{
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
}

.nav-links:hover{
  background-color:#9EFFAD;
  border-radius: 4px;
  transition: all .2s ease-out;
}

.fa-bars{
  color: #fff;
}

.nav-links-mobile{
  display: none;
}

.menu-icon{
  display: none;
}

@media screen and (max-width: 960px) {
  .Navbar{
      position: relative;
  }

  .nav-menu{
      flex-direction: column;
      width: 100%;
      height: 500px;
      position: absolute;
      top: 80px;
      left:-100%;
      transition: all .5s ease;
  }

  .nav-menu.active{
      background: black;
      left: 0;
      transition: all .5s ease;
      z-index: 1;
  }

  .nav-links{
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  .nav-links:hover{
      background-color: #9EFFAD;
      border-radius: 0;
  }

  .navbar-logo{
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
  }

  .menu-icon{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
  }
  
  .fa-times{
      color: #fff;
      font-size: 2rem;
  }

  .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #fad934;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
  }

  .nav-links-mobile:hover{
      background: #fff;
      color: #9EFFAD;
      transition: 250ms;
  }

  Button {
      display: none;
  }
}


